.App {
  text-align: center;
}

.logo {
  width: 80%;
  padding-top: 10px;
  padding-bottom: 20px;
}

.cart-header {
  width: 80%;
  padding-top: 10px;
}

.gallery-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}
.button-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.half-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 80%;
}

.gallery-item {
  font-size: 2em;
  height: 200px;
  width: 20%;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 15px;
  position: relative;
  border-radius: 25px;
  min-width: 200px;
}

.strip {
  border-radius: 25px;
  fill: rgb(255, 255, 255);
  opacity: 0.7;
  border-radius: 25px;
  height: 100%;
  width: 100%;
}

.title-text {
  position: absolute;
  padding-left: 10px;
  bottom: 0;
  font-size: large;
  width: 95%;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
  line-height: 1em;
  max-height: 2em;
  top: 0;
  font-weight: bolder;
}

.size-text {
  position: absolute;
  padding-left: 10px;
  font-size: large;
  top: 45px;
}

.price-text {
  position: absolute;
  padding-left: 10px;
  font-size: large;
  top: 120px;
}

.cart {
  position: absolute;
  width: 30px;
  height: 30px;
  right: 12px;
  bottom: 6px;
  cursor: pointer;
}

.total-price {
  width: 80%;
}

.img-small{
  width: 70%;
}
.about-container1 {
  display: flex;
  width: 35%;
  padding: 5%;
  padding-right: 0%;
  padding-left: 0%;
}
.about-container2 {
  display: flex;
  width: 45%;
  flex-direction: column;
  padding: 5%;
}
.about-container2 p {
  font-size: 18px;
}

.about-container2 h3 {
  font-size: 30px;
}
.review-box {
  display: flex;
  width: 90%;
  padding: 2%;
  border-radius: 20px;
  flex-direction: column;
  background-color: #6f120b;
  border: solid-black;
  border-width: 30px;
  border-color: black;
  margin-left: 5%;
  margin-right: 5%;
  align-items: center;
}
.review-box button {
  width: 20%;
  background-color: lightskyblue;
  border: lightskyblue;
  border-radius: 5px;
}
.review-container{
  width: 100%;
  padding-bottom: 2%;
}
.contact-container {
  display: flex;
  width: 100%;
  align-content: center;
  align-items: center;
  justify-content: center;
}
.contact-form {
  display: flex;
  width: 50%;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-shadow: 3px 3px 3px 3px grey;
  border-radius: 20px;
  margin-top: 5%;
}
.contact-box {
  padding: 5%;
  display: flex;
  flex-direction: column;
}
.contact-box button {
  background-color: blue;
  color: white;
  width: 100%;
  padding-top: 2%;
  padding-bottom: 2%;
  border: none;
}

.contact-box button:hover {
  background-color: darkblue;
  animation-duration: 200ms;
  cursor: pointer;
}
.contact-box label {
  align-content: flex-start;
  float: left;
}
.contact-box input {
  padding: 2%;
}