.App {
  text-align: center;
}

.logo {
  width: 80%;
  padding-top: 10px;
  padding-bottom: 20px;
}

.cart-header {
  width: 80%;
  padding-top: 10px;
}

.gallery-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}
.button-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.half-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 80%;
  padding-top: 3%;
  justify-content: center;
}

.cart-container {
  display: inline-block;
  width: 80%;
  padding-top: 2%;
}

.gallery-item {
  font-size: 2em;
  height: 200px;
  width: 20%;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 15px;
  position: relative;
  border-radius: 25px;
  min-width: 200px;
}

.strip {
  border-radius: 25px;
  fill: rgb(255, 255, 255);
  opacity: 0.7;
  border-radius: 25px;
  height: 100%;
  width: 100%;
}

.title-text {
  position: absolute;
  padding-left: 10px;
  bottom: 0;
  font-size: large;
  width: 95%;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
  line-height: 1em;
  max-height: 2em;
  top: 0;
  font-weight: bolder;
}

.size-text {
  position: absolute;
  padding-left: 10px;
  font-size: large;
  top: 45px;
}

.price-text {
  position: absolute;
  padding-left: 10px;
  font-size: large;
  top: 120px;
}

.cart {
  position: absolute;
  width: 30px;
  height: 30px;
  right: 12px;
  bottom: 6px;
  cursor: pointer;
}

.total-price {
  text-align: right;
  padding-right: 5%;
}

.img-small {
  width: 100%;
  object-fit: cover;
}
.about-container1 {
  display: flex;
  width: 40%;
  padding: 5%;
  padding-right: 0%;
  padding-left: 0%;
  padding-top: 5%;
  padding-bottom: 0%;
}

.about-container2 {
  display: flex;
  width: 45%;
  flex-direction: column;
  padding: 5%;
  text-align: left;
  padding-bottom: 0%;
}
.about-container2 p {
  font-size: 18px;
}

.about-container2 h3 {
  font-size: 30px;
}
.review-box {
  display: flex;
  width: 90%;
  padding: 2%;
  border-radius: 20px;
  flex-direction: column;
  background-color: #6f120b;
  border: solid-black;
  border-width: 30px;
  border-color: black;
  margin-left: 5%;
  margin-right: 5%;
  align-items: center;
}
.review-box button {
  width: 20%;
  background-color: lightskyblue;
  border: lightskyblue;
  border-radius: 5px;
}
.review-container {
  width: 100%;
  padding-bottom: 2%;
}
.contact-container {
  display: flex;
  width: 100%;
  align-content: center;
  align-items: center;
  justify-content: center;
}
.contact-form {
  display: flex;
  width: 50%;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-shadow: 3px 3px 3px 3px grey;
  border-radius: 20px;
  margin-top: 5%;
}
.contact-box {
  padding: 5%;
  display: flex;
  flex-direction: column;
}

.contact-box label {
  align-content: flex-start;
  float: left;
}
.contact-box input {
  padding: 2%;
}

.tile {
  text-align: left;
  padding-top: 1%;
  padding-right: 1%;
}

.card-img-top {
  width: 100%;
  height: 15vw;
  object-fit: cover;
}
/* .instructions {
  color: blue;
  background-color: black;
  margin: 2%;
  border-radius: 5%;
  
} */
.offscreen {
  display: none;
}
.valid {
  color: green;
}
.invalid {
  color: red;
}
.message-box {
  background-color: black;
  color: white;
  margin: 2%;
  border-radius: 3%;
}

.form-container {
  width: 40%;
  padding-top: 5%;
  display: inline-block;
}

.footer {
  padding-top: 10%;
}

.footer-button {
  padding-top: 1%;
  padding-bottom: 1%;
}

.navbar {
  padding-bottom: 20px;
}

.review-text {
  color: white;
}

.aws-btn {
  --button-default-height: 44px;
  --button-default-font-size: 14px;
  --button-default-border-radius: 4px;
  --button-horizontal-padding: 16px;
  --button-raise-level: 4px;
  --button-hover-pressure: 1;
  --transform-speed: 0.15s;
  --button-primary-color: #1f8fe5;
  --button-primary-color-dark: #1360a4;
  --button-primary-color-light: #ffffff;
  --button-primary-color-hover: #187bd1;
  --button-primary-color-active: #166dba;
  --button-primary-border: none;
  --button-secondary-color: #f9f1f1;
  --button-secondary-color-dark: #861f1f;
  --button-secondary-color-light: #c42e2e;
  --button-secondary-color-hover: #f0e0e0;
  --button-secondary-color-active: #e9cece;
  --button-secondary-border: 2px solid #c42e2e;
  --button-anchor-color: #7a2222;
  --button-anchor-color-dark: #450707;
  --button-anchor-color-light: #ffffff;
  --button-anchor-color-hover: #7d0d0d;
  --button-anchor-color-active: #730c0c;
  --button-anchor-border: none;
  --button-danger-color: #c42e2e;
  --button-danger-color-dark: #861f1f;
  --button-danger-color-light: #ffffff;
  --button-danger-color-hover: #bc2c2c;
  --button-danger-color-active: #af2929;
  --button-danger-border: none;
}
